@import url(styles/header.css);
@import url(styles/partner.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width:375px){
  .head__profile-mobile{
    display: none;
  }
  .head__search-form-mobile{
    display: none;
  }
}
@media screen and (max-width:375px) {
  .head__search-form{
    display: none;
  }
  .head__search-form-mobile{
    width: 100%;
  }
  .head{
    display:block;
    align-items: center;
    height: 50px;
  }
  .head__profile {
    display: none;
  }
  .head__bell{
    display: none;
  }
}