.partners {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.partners>img {
  cursor: pointer;
}

.partners>img:hover {
  transform: scale(1.02) perspective(0px);
  box-shadow: 0 10px 10px rgba(98, 93, 93, 0.7);
}

.title__text {
  font-size: 35px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-variant: small-caps;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.partner__henkel img {
  height: 200px;
  padding: 10px;
  width: 400px;
  object-fit: contain;
}

.partner__johndeere img {
  height: 200px;
  padding: 10px;
  width: 400px;
  object-fit: contain;
}

.partner__macdonalds img {
  height: 200px;
  padding: 10px;
  width: 400px;
  object-fit: contain;
}

.partner__ikea img {
  height: 200px;
  padding: 10px;
  width: 400px;
  object-fit: contain;
}

.partner__reebok img {
  height: 200px;
  padding: 10px;
  width: 400px;
  object-fit: cover;
}

.partner__nike img {
  height: 200px;
  padding: 10px;
  width: 400px;
  object-fit: contain;
}

.partner__caterpillar img {
  height: 200px;
  padding: 10px;
  width: 400px;
  object-fit: contain;
}